.btn-primary {
    color: #fff;
    background-color: #813AFE;
    border-color: #813AFE;
}

.body-info {
  color: #fff;
 
  font-family: 'Roboto', sans-serif;
}
.bg-light {
  background-color: #f2f3f7;
}

